* {
  font-family: "Roboto Mono", sans-serif;
  background-color: #161616;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 100px auto;
  max-width: 1000px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 38px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  font-weight: 400;
  text-align: left;
  padding-bottom: 8px;
}

table thead tr,
table tbody tr {
  border-bottom: 2px solid #282828;
}

table tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product div {
  padding-right: 16px;
}

p[aria-label="product name"] {
  font-weight: 600;
  margin-bottom: 4px;
}

p[aria-label="product color"] {
  font-size: 14px;
  margin-top: 4px;
}

.product img {
  height: 80px;
  width: 80px;
  background-color: #333333;
  margin-right: 24px;
}

.quantity {
  margin-right: 16px;
  width: 100px;
  border: 1px solid #333333;
  padding: 12px 8px;
  position: relative;
  background-image: url("https://api.iconify.design/radix-icons/caret-sort.svg?color=%23bebebe");
  background-position: center right 12px;
  background-size: auto 22px;
  background-repeat: no-repeat;
  caret-color: transparent;
  color: #bebebe;
}

.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

.total-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

tfoot td p {
  margin-top: 8px;
  margin-bottom: 0px;
}

tfoot > tr:first-of-type p {
  margin-top: 16px;
}

tfoot td:last-of-type {
  text-align: right;
}

tfoot td:nth-last-child(2) {
  font-weight: 600;
}
